<div class="card">
  <div class="card-header text-center bg-secondary">
    <h1>Employee Recruitment App</h1>
    <img style="width:25%" src="/img/banner-logo.png" alt="winnicode logo">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="card bg-info shadow-lg p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-header">
            <h3 class="m-0 text-center">Job Vacancies</h3>
          </div>
          <div class="card-body">
            <h4><%= context.jobs.count %> Job Vacancies</h4>
            <p class="card-text">
              There are <%= context.jobs.count %> Job vacancies that have been published
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card bg-info shadow-lg p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-header">
            <h3 class="m-0 text-center">Interview Schedules</h3>
          </div>
          <div class="card-body">
            <h4><%= context.interviews.count %> Schedules</h4>
            <p class="card-text">
              There are <%= context.interviews.count %> interview schedules
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>